@model auto_portal.Models.AccountManagementViewModel
@{
    ViewBag.Title = "Edytuj swoje dane";
}

@Styles.Render("~/bundles/fileinputcss")

<h1 class="register">Edytuj swoje dane</h1>

<div class="container form-container">

    @using (Html.BeginForm("EditUserData", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="InputName">Imię</label>
                            <div class="input-group">
                                @Html.TextBoxFor(x => x.UserData.FirstName, htmlAttributes: new { placeholder = "Wpisz swoje imię", @class = "form-control" })
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                            </div>
                            <br>
                            <label for="InputName">Nazwisko</label>
                            <div class="input-group">
                                @Html.TextBoxFor(x => x.UserData.LastName, htmlAttributes: new { placeholder = "Wpisz nazwisko", @class = "form-control" })
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                            </div>
                            <br />
                            <label for="InputEmail">E-mail</label>
                            <div class="input-group">
                                @Html.TextBoxFor(x => x.UserData.Email, htmlAttributes: new { placeholder = "Wpisz adres e-mail", @class = "form-control" })
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                            </div>
                            <div class="text-danger">
                                @Html.ValidationMessageFor(x => x.UserData.Email)
                            </div>
                            <br>
                            
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 avatar">
                        <div class="kv-avatar center-block" style="width:200px">
                            <input id="avatar-2" name="avatar-2" type="file" class="file-loading" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="InputAddress">Nick</label>
                            <div class="input-group">
                                @Html.TextBoxFor(x => x.UserData.Nickname, htmlAttributes: new { placeholder = "Wpisz swój nick", @class = "form-control" })
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                            </div>
                            <div class="text-danger">
                                @Html.ValidationMessageFor(x => x.UserData.Nickname)
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="InputAddress">Miasto i kod pocztowy</label>
                            <div class="input-group">
                                @Html.TextBoxFor(x => x.UserData.CodeAndCity, htmlAttributes: new { placeholder = "Wpisz miasto i kod pocztowy", @class = "form-control" })
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>

                            </div>
                            <br>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="text-center">Hasło</h3>
                        <div class="col-xs-12">
                                @if (Model.HasPassword)
                                {
                                    using (Html.BeginForm("ChangePassword", "Manage"))
                                    {
                                        @Html.AntiForgeryToken()
                                        <label for="cpassword">Obecne hasło</label>
                                        @Html.PasswordFor(x => x.ChangePasswordViewModel.OldPassword, htmlAttributes: new { @class = "form-control" })
                                        <div class="text-danger">
                                            @Html.ValidationMessageFor(x => x.ChangePasswordViewModel.OldPassword)
                                        </div>
                                        <label for="npassword">Nowe hasło</label>
                                        @Html.PasswordFor(x => x.ChangePasswordViewModel.NewPassword, htmlAttributes: new { @class = "form-control" })
                                        <div class="text-danger">
                                            @Html.ValidationMessageFor(x => x.ChangePasswordViewModel.NewPassword)
                                        </div>
                                        <label for="cnewpassword">Powtórz hasło</label>
                                        @Html.PasswordFor(x => x.ChangePasswordViewModel.ConfirmPassword, htmlAttributes: new { @class = "form-control" })
                                        <div class="text-danger">
                                            @Html.ValidationMessageFor(x => x.ChangePasswordViewModel.ConfirmPassword)
                                        </div>
                                        <div class="input-group-addon">
                                            <div class="row">
                                                <input type="submit" name="submit" value="Zmień hasło" class="btn btn-sm btn-danger" />
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    using (Html.BeginForm("SetPassword", "Manage"))
                                    {
                                        @Html.AntiForgeryToken()
                                        <label for="npassword">Nowe hasło</label>
                                        @Html.PasswordFor(x => x.SetPasswordViewModel.NewPassword, htmlAttributes: new { @class = "form-control" })
                                        <div class="login-validation-message">
                                            @Html.ValidationMessageFor(x => x.SetPasswordViewModel.NewPassword)
                                        </div>
                                        <label for="cnewpassword">Powtórz hasło</label>
                                        @Html.PasswordFor(x => x.SetPasswordViewModel.ConfirmPassword, htmlAttributes: new { @class = "form-control" })
                                        <div class="login-validation-message">
                                            @Html.ValidationMessageFor(x => x.SetPasswordViewModel.ConfirmPassword)
                                        </div>
                                        <div class="input-group-addon">
                                            <div class="row">
                                                <input type="submit" name="submit" value="Ustaw hasło" class="btn btn-sm btn-danger" />
                                            </div>
                                        </div>
                                    }
                                }
                        </div>

                    </div>
                </div>
              
               

            </div>
        </div>
        <div class="text-danger">
            @Html.ValidationSummary()
        </div>


        <div class="input-group-addon">
            <div class="row">
                <div class="col-xs-12">
                    <input type="submit" name="submit" value="Zapisz zmiany" class="btn btn-sm btn-danger" />
                </div>
            </div>
        </div>

    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fileinput")
}
