@model auto_portal.Models.AccountManagementViewModel
@{
    ViewBag.Title = "Moje Konto";
}

<div class="container myaccount">
    <h1 class="myaccount">Moje konto</h1>
    <div class="col-sm-6">
        <div class="row">
            <div class="row">
                <div class="row">
                    <h3 class="account-info">@Model.UserData.Nickname - informacje o koncie</h3>
                    <div class="col-sm-6 col-md-6">
                        <div class="avatar-container">
                            <img class="img-responsive" src="@Url.Content(Model.UserData.AvatarPath)" alt=""/>

                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <label>Imię</label>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <label>@Model.UserData.FirstName</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <label>Nazwisko</label>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <label>@Model.UserData.LastName</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <label>Adres email</label>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <label>@Model.UserData.Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <label>Miasto </label>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <label>@Model.UserData.CodeAndCity</label>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="input-group-addon">
                    <div class="row">
                        <input onclick="location.href='@Url.Action("EditUserData","Manage")';" value="Edytuj dane" class="btn btn-sm btn-danger"/>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-sm-6">
        <div class="row">
            <h3 class="account-info">Moje dzienniki</h3>
        </div>
        @if (Model.Registers.Count == 0)
        {
            <div class="col-sm-8 col-xs-12 img-container">
                <img class="img-responsive" src="@Url.Content("/Content/Images/sad-car.png")" />
            </div>
            <div class="col-sm-4 col-xs-12">
                <br /><br />
                <p>Niestety, nic tutaj nie ma. :( <br /> Dodaj nowy dziennik, aby móc w pełni korzystać z portalu!</p>
            </div>
        }
        else
        {
            <section class="slider">
                <div class="flexslider carousel">
                    <ul class="slides">
                        @foreach (var item in Model.Registers)
                        {
                            <li>
                                <div class="card effect__hover">
                                    <div class="card__front">
                                        <img src="@item.PreviewImg" alt="@Url.Content("/Content/Images/car-icon.png")" class="img-responsive"> <span class="subject">@item.Producer @item.Model</span><br>
                                    </div>
                                    <div class="card__back">
                                        <span class="card__text"><a href="#" class="btn">Zarządzaj</a></span>
                                    </div>
                                </div>

                            </li>
                        }
                    </ul>
                </div>
            </section>
        }
        
        <a href="@Url.Action("ChooseYourCar","Register")" class="btn btnAddNewRegister">Dodaj nowy dziennik</a>
    </div>
</div>