@model auto_portal.ViewModel.CarRegister.AddEditCarRegisterViewModel
@{
    ViewBag.Title = "Dodaj dziennik";
}
@Styles.Render("~/bundles/fileinputcss")
@Styles.Render("~/bundles/select2css")

<h1 class="register">Dodaj nowy dziennik!</h1>

<div class="container form-container">
    @using (Html.BeginForm("AddNewRegister", "Register", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <label for="ProductionYear">Rok produkcji</label>
                        <div class="input-group">
                            @Html.DropDownListFor(model=>model.ProductionYear, Model.ProductionYears, new {@class= "form-control"})
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                        <div class="text-danger">
                            @Html.ValidationMessageFor(x => x.ProductionYear)
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <label for="Engine">Silnik</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model=>model.Engine, new{@class="form-control"})
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <label for="Course">Przebieg [km]</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Course, new { @class = "form-control" })
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                        <div class="text-danger">
                            @Html.ValidationMessageFor(x => x.Course)
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <label for="Fuel">Paliwo</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model=>model.Fuel, new { @class = "form-control" })
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                </div>
                    
                </div>                                 
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <h3 class="text-center">Galeria</h3>
                     <input id="file-5" class="file" type="file" multiple data-preview-file-type="any" data-upload-url="#">
                </div>
            </div>
            <div class="input-group-addon">
                <div class="row">
                    <div class="col-xs-12">
                        <input id="registerBtn" type="submit" name="submit" id="submit" value="Dodaj" class="btn btn-sm btn-danger"/>
                    </div>
                </div>
            </div>
    }

    

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fileinput")
}



