@model auto_portal.ViewModel.RegisterViewModel
@{
    ViewBag.Title = "Dodaj dziennik";
}
@Styles.Render("~/bundles/fileinputcss")
@Styles.Render("~/bundles/select2css")

<h1 class="register">Dodaj nowy dziennik!</h1>

<div class="container form-container">
    @using (Html.BeginForm("AddNewRegister", "Register", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
                <div class="row">
                    <div class="col-xs-12" style="height: 50px;">
                        <select class="js-vehicle-search-box" style="width: 100%;">
                            <option value="AL">Mazda</option>
                            ...
                            <option value="WY">Koesingg</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <label for="InputName">Rok produkcji</label>
                        <div class="input-group">
                            <select class="form-control" id="birthyear" name="birthyear">
                                <option value="2016">2016</option>
                                <option value="2007">2007</option>
                                <option value="2006">2006</option>
                                <option value="2005">2005</option>
                                <option value="2004">2004</option>
                                <option value="2003">2003</option>
                                <option value="2002">2002</option>
                                <option value="2001">2001</option>
                                <option value="2000">2000</option>
                                <option value="1999">1999</option>
                                <option value="1998">1998</option>
                                <option value="1997">1997</option>
                                <option value="1996">1996</option>
                                <option value="1995">1995</option>
                                <option value="1994">1994</option>
                                <option value="1993">1993</option>
                                <option value="1992">1992</option>
                                <option value="1991">1991</option>
                                <option value="1990">1990</option>
                            </select>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>

                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <label for="InputPassword">Silnik</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="engine" placeholder="Specyfikacja silnika" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <label for="InputPassword">Przebieg [km]</label>
                        <div class="input-group">
                            <input type="number" class="form-control" name="password" placeholder="Przebieg [km]" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <label for="InputName">Paliwo</label>
                        <div class="input-group">
                            <select class="form-control" id="fuel" name="fuel">
                                <option value="Benzyna">Benzyna</option>
                                <option value="Gaz">Benzyna/LPG</option>
                                <option value="Diesel">Diesel</option>                             
                            </select>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>

                        </div>
                    </div>
                </div>
                    
                </div>                                 
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <h3 class="text-center">Galeria</h3>
                     <input id="file-5" class="file" type="file" multiple data-preview-file-type="any" data-upload-url="#">
                </div>
            </div>
            <div class="input-group-addon">
                <div class="row">
                    <div class="col-xs-12">
                        <input id="registerBtn" type="submit" name="submit" id="submit" value="Dodaj" class="btn btn-sm btn-danger"/>
                    </div>
                </div>
            </div>


    }

    

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fileinput")
    @Scripts.Render("~/bundles/select2")

    <script type="text/javascript">
            $(document).ready(function() {
                $(".js-vehicle-search-box").select2({
                    placeholder: "Wybierz model swojego samochodu.",
                    allowClear: true
                });
            });
    </script>
}



