<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    @Scripts.Render("~/bundles/sitejs")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/flexsliderjs")
    @Scripts.Render("~/bundles/fancybox")
    @RenderSection("Scripts", required: false)
</head>
    <body>
        <div id="wrapper">
            <header>
                <div class="navbar navbar-default navbar-static-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="index.html"><img class="img-responsive" src="@Url.Content("/Content/Images/logo.png")" alt="logo" /></a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <div class="row">
                                <div class="account_desc">
                                    @Html.Partial("_LoginPartial")
                                </div>
                            </div>
                            <div class="row">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="index.html">Strona główna</a></li>
                                    <li><a href="catalog.html">Samochody</a></li>
                                    <li><a href="registers.html">Dzienniki</a></li>
                                    <li><a href="news.html">Aktualności</a></li>
                                    <li><a href="contact.html">Kontakt</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            @RenderBody()
            <hr />
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-3 col-lg-3">
                            <div class="widget">
                                <h5 class="widgetheading">Moje konto</h5>
                                <ul class="link-list">
                                    <li><a href="login.html">Zaloguj się</a></li>
                                    <li><a href="#">Zarządzaj kontem</a></li>
                                    <li><a href="#">Moje pojazdy</a></li>
                                    <li><a href="contact.html">Pomoc</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget">
                                <div class="widget">
                                    <h5 class="widgetheading">O Nas</h5>
                                    <address>
                                        <strong>auto-portal.pl</strong><br>
                                        ul. Żelazna 55<br>
                                        00-806 Warszawa
                                    </address>
                                    <p>
                                        <i class="icon-phone"></i> +48 222333412 <br>
                                        <i class="icon-envelope-alt"></i> email@autoportal.pl
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
</body>
</html>
