@using Microsoft.AspNet.Identity
<ul>
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <li>
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            if(User.IsInRole("Administrator"))
            {
                <li>
                    <a href="@Url.Action("Index","Admin")">Panel administracyjny</a>
                </li>
            }
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
        }
    }
    else
    {
        <li><a href="@Url.Action("Login","Account")">Logowanie</a></li>
        <li><a href="@Url.Action("Register","Account")">Rejestracja</a></li>
    }
</ul>
