@model auto_portal.ViewModel.RegisterViewModel
@{
    ViewBag.Title = "Rejestracja";
}

@Styles.Render("~/bundles/fileinputcss")

<h1 class="register">Zarejestruj się!</h1>

<div class="container form-container">

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="InputName">Imię</label>
                            <div class="input-group">
                                @Html.TextBoxFor(x => x.FirstName, htmlAttributes: new { placeholder = "Wpisz swoje imię", @class = "form-control" })
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                            </div>
                            <br>
                            <label for="InputPassword">Hasło</label>
                            <div class="input-group">
                                @Html.PasswordFor(x => x.Password, htmlAttributes: new { placeholder = "Wpisz hasło", @class = "form-control" })
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                            </div>
                            <div class="text-danger">
                                @Html.ValidationMessageFor(x => x.Password)
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="InputName">Nazwisko</label>
                            <div class="input-group">
                                @Html.TextBoxFor(x => x.LastName, htmlAttributes: new { placeholder = "Wpisz nazwisko", @class = "form-control" })
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                            </div>

                            <br>
                            <label for="InputPassword">Powtórz hasło</label>
                            <div class="input-group">
                                @Html.PasswordFor(x => x.ConfirmPassword, htmlAttributes: new { placeholder = "Powtórz hasło", @class = "form-control" })
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                            </div>
                            <div class="text-danger">
                                @Html.ValidationMessageFor(x => x.ConfirmPassword)
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="InputEmail">E-mail</label>
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.Email, htmlAttributes: new { placeholder = "Wpisz adres e-mail", @class = "form-control" })
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                        <div class="text-danger">
                            @Html.ValidationMessageFor(x => x.Email)
                        </div>
                        <br>
                    </div>


                    <div class="form-group">                    
                        <label for="InputAddress">Nick</label>
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.Nickname, htmlAttributes: new { placeholder = "Wpisz swój nick", @class = "form-control" })
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                        <div class="text-danger">
                            @Html.ValidationMessageFor(x => x.Nickname)
                        </div>
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="InputAddress">Miasto i kod pocztowy</label>
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.CodeAndCity, htmlAttributes: new { placeholder = "Wpisz miasto i kod pocztowy", @class = "form-control" })
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                            
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-xs-6 avatar">
                    <div class="kv-avatar center-block" style="width:200px">
                        <input id="avatar-2" name="avatar-2" type="file" class="file-loading"/>
                    </div>
                </div>


            </div>
        </div>
        <div class="text-danger">
            @Html.ValidationSummary()
        </div>


        <div class="input-group-addon">
            <div class="row">
                <div class="col-xs-12">
                    <input id="registerBtn" type="submit" name="submit" value="Rejestruj" class="btn btn-sm btn-danger" />
                </div>
            </div>
        </div>

    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fileinput")
}
